body {
  background-color: var(--main-bkgrnd-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: var(--navyblue);
  cursor: pointer;
}

button {
  cursor: pointer;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.list .link:hover,
.list .link:focus {
  color: var(--ocean);
}

.link.adr-item {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--slate);
}

.link.adr-item:hover,
.link.adr-item:focus {
  color: var(--ocean);
}

/* VARIABLES */
:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --main-bkgrnd-color: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #ffffff;
}

/* Logo */

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: var(--navyblue);
}

.logo-light {
  color: var(--cloud);
}

.hero-section {
  background-color: var(--navyblue);
}

.title-main {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.title-second {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.title-third {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}

.body-medium {
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.benefits-text {
  color: var(--slate);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

footer {
  background-color: var(--navyblue);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.our-team {
  background-color: var(--cloud);
}

.team-list-item {
  background-color: #ffffff;
}

.team-list-text {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navyblue);
}

.filter-item {
}

.filter-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.portf-list-text {
  color: var(--slate);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.portf-list-item .title-second {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
